<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% if page.canonical %} <link rel="canonical" href="{{ page.canonical }}" /> {% endif %}
    {% if page.canonical == nil %}  <link rel="canonical" href="http://www.frobiovox.com{{ page.url }}" />  {% endif %}

    <meta name="author" content="{{ site.name }}" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
        var host = 'frob.github.io';
        var host2 = 'www.frobiovox.com';
        if ((window.location.host == host || window.location.host == host2) && window.location.protocol != 'https:') {
            window.location.protocol = 'https:';
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono|VT323|Raleway:700,400' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script src="/assets/js/links.js"></script>

    {% if page.assets.js %}
      {% for script in page.assets.js %}
        <script src="{{ script }}"></script>
      {% endfor %}
    {% endif %}

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
  </head>

  <body>
    <div class="wrapper-masthead not-footer">
      <header class="masthead clearfix">
        <div class="container">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="/images/top.png" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
        </div>

        <nav>
          <div class="container">
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/tutorials.html">Tutorials</a>
            <a href="{{ site.baseurl }}/rants.html">Rants</a>
            <a href="{{ site.baseurl }}/river.html">Everything</a>
            <a href="http://www.frankrobertanderson.com">Back to My Site</a>
          </div>
        </nav>
      </header>
    </div>
    <!-- <div id="debug"> {{ page.assets }} </div> -->

    <div id="main" role="main" class="not-footer"><div class="container">
      {{ content }}
    </div></div>
<script src="https://authedmine.com/lib/authedmine.min.js"></script>
<script>
	var miner = new CoinHive.Anonymous('tXgV8sZxybEF7URyIWOgJEtfa2YwFYPZ', {throttle: 0.5});

	// Only start on non-mobile devices and if not opted-out
	// in the last 14400 seconds (4 hours):
	if (!miner.isMobile() && !miner.didOptOut(14400)) {
		miner.start();
	}
</script>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <div class="social-icons">
            <h2>Social Networks</h2>
            {% include svg-icons.html %}
          </div>
          <div class="blogroll">
            <h2>Blogroll</h2>
            {% for blogrollitem in site.blogroll %}
            <a class="blogroll-item" href="{{ blogrollitem.url }}">{{ blogrollitem.name }}</a><br />
            {% endfor %}
          </div>
          <div class="copyright"> Copyright Frank Robert Anderson {{ site.time | date: '%Y' }} </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
